<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.UserDao">
	<resultMap id="userMap" type="com.model.Users">
		<id property="id" column="ID" />
		<result property="userName" column="userName" />
		<result property="address" column="address" />

	</resultMap>
	<insert id="addUser" parameterType="com.model.Users">
		insert into Users(userName,address)VALUES (#{user.userName},#{user.address})
	</insert>


</mapper>